.cover {
  background-color: rgba(0,0,0,1),0;
}

.article2 {
  background-color: rgb(204, 201, 201);
  padding: 2.5vw;
  height: auto;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  width: 75vw;
  border: 1px solid #222;
}


.artGrid {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;

}

.pieces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.headline {
  display: flex;
  margin: 20px 10px;
  font-size: 2.6vw;
  height: auto;
}

h2 {
  margin: 0;
  text-align: center;
}


.imgDiv {
 width: 80%;
 display: flex;
 align-items: center;
 margin-bottom: 3vh;
 border: 1px solid #222;
}

.blogPic {
  /* width: 100%; */
  display: flex;
  /* object-fit: contain; */
  margin-left: 0;
  margin-right: 0;
  /* width: 50%; */
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  width: 100%;
}

p {
  font-size: 15px;
  margin: 0;
}




